<% provide(:title, "About") %>
<div class="home_page_background" style="margin-top: -70px;">
<div class="center Jumbotron">
  <h1 style="    padding-top: 10%;
      margin-bottom: 2%;">About</h1>
  <p>
      This website is used to be shown as a community prototype. <br><br>The theme of this community is football. Welcome worldwide
    football fans join our community and share comments with others.<br><br> Don't be toxic. Let's enjoy life with football
  </p>
  <%= link_to "Back", community_path, class: "btn btn-lg btn-primary btn-sm", style:"margin-top:30px;"%>
</div>
</div>