<div class="media-heading">
  <%= link_to notification.actor.name, main_app.user_path(notification.actor) %> has replied you in
  <%= link_to notification.second_target.title, main_app.post_path(notification.second_target) %>
</div>

<div class="media-content">
  <%= sanitize notification.target.content %>
</div>
