<% @follow_member.each do |member|%>
  <li id="member-<%= member.id%>" class="member_li">
  <div class="member_avatar">
    <% if member.picture? %>
      <%= link_to (image_tag member.picture.url, class:"img-circle"), member %>
    <% else %>
      <%= link_to (image_tag ('default.jpg'), class:"img-circle"), member %>
    <% end %>
  </div>
  <div class="member_name">
    <%= link_to member.name, member  %>
  </div>
  </li>
<% end %>
