<% @user ||= current_user %>
<div class="stats">
  <a href="<%=  followinglist_user_path(@user, anchor: 'hidden_profile_anchor') %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <br>
  <a href="<%= followerlist_user_path(@user, anchor: 'hidden_profile_anchor') %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>