<%= image_tag ('anonymous.jpg'), :class=>"anonymous" %>
<span class=span_signup><%= link_to "Join Now!", 
                       signup_path, class:"btn btn-md btn-primary" %></span>
<span class=span_login> already user? <%= link_to "Log in!", login_path %></p>
