<div id="updates-widget-of-updateable-<%= updateable.id %>" class="updates-widget">

  <%= render "updates/form", update: updateable.updates.build  %>



  <div class="update-individual">
    <ul class="updates-list">
      <%= render updateable.updates.where(updateparent: nil) %>
    </ul>
  </div>
  <!-- update-form -->
</div>
