// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments-widget {

  margin-bottom: 1em;
  float: left;
  width: 800px;
  border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 0px #bababa;
  border-radius: 3px;
  margin-left: 23px;
  background-color:white;


  .comments-header {
    margin-left: 40px;
    font-size: 24px;
    margin-bottom: 20px !important;
  }
  .comment-individual{
    height: auto;
    width: 800px;
    float: left;

    .comments-list {
      padding-left:0;

      .comment{
        list-style-type: none;
        //width: 90%;
        //border: solid;
        overflow: hidden;
        //min-height: 100px;
        //margin-left: 40px;
        //margin-bottom:20px;

        .comments-body{
          float: right;
          width: 90%;

          border: 1px solid #e8e8e8;
          /* margin-left: 40px; */
          margin-right: 40px;
          margin-bottom: 20px;
          padding-bottom: 10px;

          .avatar_img {
            overflow: hidden;
            float: left;
            img {
              float: left;
              width: 60px !important;
              height: auto !important;
              //margin-left: 60px;
              margin-top: 15px;
              margin-left:20px;
            }
          }
          .comment-info{
            color: #666666;
            margin-left: 20px;
            margin-top: 30px;
            float: left;
            font-size:20px;
            width: 570px;
          }

          .comment-content{
            font-size:16px;
            float: left;
            padding-top: 3px;
            width: 95%;
            margin-top: 10px;
            //border-top: 1px solid #e8e8e8;
            display: block;
            margin-left: 20px;
            padding-bottom: 15px;
            min-height:100px;
            ul>li{
              list-style-type:initial;
            }
          }

          .comment-menu{
            font-size:16px;
            float:right;
            margin-right:20px;
            a{
              font-weight:bold;
            }
          }
        }
      }
    }
  }
}


.comment-form {
  float:left;
  margin-left:40px;
  width: 90%;

  li{
    list-style-type: initial;
  }

  trix-editor{
    min-height:100px;
    div{
      font-size:16px;
    }
  }
}

