// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.forgotpassword_form{

  float: left;
  width: 100%;
  .alert-login_danger{
    width: 350px;
    margin-left: 34%;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  .label-control{
    margin-left: 34%;
  }

  .field-control{
    margin-left: 34%;
    width: 350px;
    height: 28px !important;
  }

  p{
    margin-left: 34%;
    float:left;
    width:100%;
    //margin-left: -25px;

  }

}