// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.user_h1 {
   text-align: center;
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

img[src='#'] {
    display: none;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 70px;
    img {
      height: 150px !important;
      width: 150px !important;
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }

    .span_profile {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      text-align: center;
    }
    .info_h1 {
      font-size: 1.5em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
    .span_post {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      text-align: center;
    }
  }

  section.user_signup {
    text-align: center;
    margin-top: 70px;
    img {
      height: 150px !important;
      width: 150px !important;
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }

    .span_login {
      display: block;
      line-height: 1;
      text-align: center;
      margin-top: 10px;
    }

    .span_signup {
      display: block;
      text-align: center;
      margin-top: 20px;
    }

  }
  textarea {
    height: 100px;
    margin-bottom: 5px;
   }
}


/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.label-control{
  margin-left: 34%;
}

.field-control{
  margin-left: 34%;
  width: 350px;
  height: 28px !important;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

label.message{
  color:$state-danger-text;;
  margin-left:5px;
}

.editbtn {
  float:right;
  margin-right:14px;
  padding-left: 14px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  padding-right:15px;
}

.deletebtn {

  float:right;
  margin-right:33px;
}

#q {
  width:400px;
  margin-left: 20px;
}

.submitbtn {
  width:100px;
}

//em {
//  background: yellow;
//}

.user_profile {
  float:left;
  margin-top: 30px;
  width: 100%;
  background-color: white;
  border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 0px #828080;
  border-radius: 3px;

  .user_profile_left{
    float: left;
    width: 343px;
    .user_profile_avatar{
      float: left;
      width: 100%;
      img {
        float: left;
        width: 178px !important;
        height: 178px !important;
        margin-left: 100px;
        margin-top: 60px;
        margin-bottom: 30px;
      }
    }
  }

  .user_profile_middle{
    float:left;
    width: 610px;
    .user_profile_name{
      float: left;
      width: 100%;
      margin-top: 60px;
      font-size: 65px;
      font-weight: bold;
      //margin-left: 60px;
    }

    .follow_button{
      width: 100%;
      float: left;
      //margin-left: -190px;
      //margin-top: 170px;

      .follow-btn{
        background-color:  #87ceeb40;
        border:solid 1px rgba(42,119,203,0.5);
        color:#2a77cb;
        font-size: 16px;
        border-radius: 1000px;
        width: 115.297px;
      }
      #follow_form{
        .follow-btn{
          width: 115.297px;
          background-color:  #87ceeb40;
          border:solid 1px rgba(42,119,203,0.5);
          color:#2a77cb;
          font-size: 16px;
          border-radius: 1000px;
        }
        .unfollow-btn{
          background-color: #f5040452;
          border: solid 1px #f7050578;
          font-size: 16px;
          border-radius: 1000px;
          color: white;
          width: 115.297px;
        }
      }
    }
    .edit_button{
      float: left;
      height: 36px;
      width: 100%;
      .edit-intro-btn{
        float: left;
        //margin-left: 338px;
        margin-top: 36px;
        cursor: pointer;
      }
    }


    .user_profile_intro{
      float:left;
      width:100%;
      //margin-left: 5px;
      margin-top: 40px;

      .user_profile_intro_content{
        float: left;
        width: 600px;
        //margin-left: 338px;
        font-size: 22px;
        margin-top: -20px;
        font-style: italic;
        color: grey;
        margin-bottom: 30px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        #introduction{
          min-height: 70px;
        }
      }
    }

    .intro-control{
      float: left;
      width: 600px;
      border: solid;
      //margin-left: 338px;
      font-size: 22px;
      margin-top: -20px;
      font-style: italic;
      color: grey;
      margin-bottom: 5px;
      display: none;
    }

    .intro-control-submit{
      float: left;
      width: 80px;
      //margin-left: 338px;
      background-color:#2a77cb;
      color: white;
      display:none;
    }

    #user_profile_cancel_btn{
      float: left;
      width: 80px;
      margin-left: 10px;
      border: 1px solid #bbb;
      border-radius: 5px;
      display: none;
    }
  }

  .user_profile_right{
    float:left;
    width: 200px;
    .user_profile_join{
      font-size: 22px;
      float: left;
      /* width: 100%; */
      margin-top: 105px;
      color: grey;
      /* margin-left: 100px; */
      border-left: solid #ffa50094;
      padding-left: 10px;
      margin-bottom: 30px;
    }
    .user_profile_stat{
      float:left;
      font-size: 22px;
      padding-left: 10px;
      border-left: solid coral;
      a{
        color: grey;
      }
    }
  }
}

.user_nav_col{
  float: left;
  width: 23%;
  margin-top: 30px;
  //font-size: 18px;
  .user_nav_col_ul{
    list-style-type:none;
    padding:0;
    .user_nav_col_li {
      height: 42px;
      line-height: 42px;
      //padding-left: 35px;
      //      color: white;
      //      background-color: #007cc0 !important;
      .btn.btn-primary {
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding-left: 20px !important;
        text-align: left;
        line-height: 30px;
      }
      .btn.btn-default {
        width: 100%;
        height: 100%;
        font-size: 18px;
        background-color: transparent;
        border: none;
        padding-left: 20px !important;
        text-align: left;
        line-height:30px;
        &:hover {
          background-color: lightgrey;
        }
      }

      .setting_link{
        color: black;
      }

      .setting_link.primary{
        color:white;

        &:hover{
          color: #fff;
          background-color: #286090;
          border-color: #204d74;
        }
      }

      #change_avatar{

        &:hover{
          color: #fff;
          background-color: #286090;
          border-color: #204d74;
        }
      }

      #change_password{
        &:hover{
          color: #fff;
          background-color: #286090;
          border-color: #204d74;
        }

      }
      .user_setting{
        width: 100%;
        height: 100%;
        font-size: 18px;
        background-color: transparent;
        border: none;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: left;
        padding-left: 20px !important;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        white-space: nowrap;
        padding: 6px 12px;
        line-height: 1.428571429;
        border-radius: 4px;
        user-select: none;
        &:hover {
          background-color: lightgrey;
        }
        a{
          color:black;
          &:hover {
            text-decoration:none;
          }
        }
      }

      .user_setting.primary{

        &:hover{
          color: #fff;
          background-color: #286090;
          border-color: #204d74;
        }

      }
    }
  }

}

.user_body {
  float: right;
  width: 75%;
  //height: 200px;
  //border:solid;
  margin-top: 30px;
  min-height: 600px;
  background-color: white;
  border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 0px #828080;
  border-radius: 3px;

  /* menu: view posts   */
  #user_post_search {
    font-family: FontAwesome;
    width: 300px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    float: left;
    padding: 0px 20px 0px 20px;
    border: 1px solid #ddd;
  }
  .user_body_post_header{
    margin-top: 12px;
    float: left;
    margin-left: 20px;
  }

  .user_body_post_div{
    float: left;
    width: 100%;
    background-color: white;

    .user_body_posts_ul{
      float: left;
      list-style-type: none;
      padding-left: 0;
      width: 100%;
      margin-top: 15px;
      .user_body_posts_li{

        float: left;
        width: 90%;
        border-bottom: 1px solid #cccaca;
        margin-left: 43.21px;
        padding-bottom: 10px;
        padding-top: 10px;
        .user_body_posts_time{
          font-size: 20px;
        }
        .user_body_posts_title{
          width: 70%;
          float: left;
          font-size: 26px;
          font-weight: bold;
          a {
            color: black;
          }

        }

        .user_body_posts_info{
          float: right;
          width: 30%;
          div {
            float: left;
            padding-left: 70px;
            a {
              color: black;
            }
          }
        }
      }
    }
  }

  /* menu: comments */
  #user_comments_search {
    font-family: FontAwesome;
    width: 300px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    float: left;
    padding: 0px 20px 0px 20px;
    border: 1px solid #ddd;
  }

  .user_body_comments_header {
    margin-top: 12px;
    float: left;
    margin-left: 20px;
  }

  .user_body_comments_div {
    float: left;
    width: 100%;
    background-color: white;

    .user_body_comments_ul {
      float: left;
      list-style-type: decimal;
      font-size: 20px;
      padding-left: 0;
      width: 100%;
      margin-top: 15px;
      .user_body_comments_li {

        float: left;
        width: 90%;
        border-bottom: 1px solid #cccaca;
        margin-left: 43.21px;
        padding-bottom: 10px;
        padding-top: 10px;
        li{
          list-style-type:initial;
        }

        .user_body_comments_time{
          font-size: 20px;
          a{
            color: black;
            font-weight: bold;

          }
        }

        .user_body_comments_content.short{
          font-size: 26px;
          overflow: hidden;
          max-height: 37px;

          a{
            color: #989898;
            text-decoration: none;
          }

        }

        .user_body_comments_content.full{
          font-size: 26px;
          a{
            color: #989898;
            text-decoration: none;
          }

        }

        .display-more{
          cursor: pointer;
          display: inline-block;
          color: #adb7bf;
          font-size: 18px;
        }

      }
    }
  }



  /* menu:followers and followings */
  .user_follow_header{
    margin-top:12px;
    float:left;
    margin-left:20px;
  }

  #follow_user_search {
    font-family: FontAwesome;
    width: 300px;
    font-size: 16px;
    margin-top: 10px;
    margin-left:20px;
    margin-bottom: 0px;
    float:left;
    padding: 0px 20px 0px 20px;
    border: 1px solid #ddd;
  }

  .follow_div{
    float:left;
    width:100%;

    background-color: white;
    .follow_ul{
      float: left;
      list-style-type: none;
      padding-left:0;
      width: 100%;
      .member_li{
        float: left;
        width: 33.33%;
        //width: 150px;
        .member_avatar{
          float:left;
          img{
            width: 60px !important;
            height: 60px !important;
            margin: 20px
            //margin-top: 20px;
            //margin-left: 20px;
            //margin-right: 20px;
          }
        }

        .member_name{
          float: left;
          font-size: 16px;
          margin-top: 38px;
          a{
            color: black;
          }

        }
      }
    }
  }

  /* user change_avatar */

  .change_avatar_header{
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
  }

  .change_avatar_div{
    width:80%;
    margin-left: 86.425px;
    margin-top: 50px;
    float:left;
    .update_avatar_form{
      float:left;
      width: 100%;
      input{
        width: 50%;
        float:left;
        margin-left: 173px;
        margin-right: 170px;
      }

      img{
        float:left;
        margin-left: 256px;
        margin-bottom: 15px;
        height: 178px !important;
        width: 178px !important;
        border-radius: 50%;
      }

  }

  }
  /* change password */

  .change_password_header{
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
  }

  .change_password_div{
    width:80%;
    margin-left: 86.425px;
    margin-top: 50px;
    float:left;
    .change_password_form{
      float:left;
      width: 100%;
      input{
        width: 50%;
        float:left;
        margin-left: 173px;
        margin-right: 170px;
      }
      label{
        float:left;
        width: 100%;
        margin-left: 173px;
      }

      #error_explanation {
        color: red;
        ul {
          color: red;
          margin: 0 0 30px 0;
          padding: 0;
          li{
            width: 100%;
            margin-left: 190px;
          }
        }
      }

      .field_with_errors {
        @extend .has-error;
        .form-control {
          color: $state-danger-text;
        }
      }


    }

  }

}
