<footer class="footer">
  <small style="margin-left:70px;">
  This website is created by Steven Zhu
  </small>
  <nav>
    <ul>
      <li style="margin-right:70px;"><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>